<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="m-3">
        <div class="input-group m-3">
          <input type="text" [(ngModel)]="link" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div *ngIf="alerts['success']" class="alert alert-success m-3" role="alert">
          {{alertMessage['success']}}
        </div>
        <div *ngIf="alerts['error']" class="alert alert-warning m-3" role="alert">
          {{alertMessage['error']}}
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-outline-primary m-3" (click)="saveLink()">Save</button>
    </div>
    <div class="col-md-6">
      <div *ngIf="!isLoading" class="m-3">
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              Saved Links
            </a>
            <a *ngFor="let link of links" href="link" target="_blank" class="list-group-item list-group-item-action">{{link}}</a>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading" class="m-3">
        <div class="d-flex align-items-center">
          <strong>Loading...</strong>
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>