<div class="container">
  <div *ngIf="!isLoading" class="row">
    <div class="col-12 m-2">
      <div class="input-group">
        <input type="text" [(ngModel)]="link" class="form-control" placeholder="Bookmark" id="basic-url"
          aria-describedby="basic-addon3">
      </div>
    </div>
    <div class="col-12 m-2">
      <div *ngIf="!alerts['success'] && !alerts['error']">
        <button type="button" class="btn btn-outline-primary" (click)="saveBookmark()">Save</button>
      </div>
      <div *ngIf="alerts['success'] || alerts['error']">
        <div *ngIf="alerts['success']" class="alert alert-success" role="alert">
          {{alertMessage['success']}}
        </div>
        <div *ngIf="alerts['error']" class="alert alert-warning" role="alert">
          {{alertMessage['error']}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading && bookmarks && bookmarks.length" class="row">
    <div class="col-12 m-2">
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div class="list-group">
          <p class="list-group-item list-group-item-action active margin-bottom-none">
            Saved Bookmarks
          </p>
          <a *ngFor="let bookmark of bookmarks" (click)="openBookmark(bookmark.link)"
            class="list-group-item list-group-item-action text-overflow-wrap">{{bookmark.link}}</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="row m-3">
    <div class="col-12">
      <div class="d-flex align-items-center">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>