<div class="container">
  <div class="row">
    <div class="col">
      <div style="text-align:center">
        <div class="input-group m-3">
          <!-- <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://</span>
          </div> -->
          <input type="text" [(ngModel)]="url" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary m-3" (click)="saveUrl()">Save</button>
    </div>
  </div>
</div>